.icons-database{
	display: inline-block;
	width: 24px;
	height: 24px;
	vertical-align: middle;
}

.get-licenses-panel{
	table thead{
		background: none repeat scroll 0 0 #2C95DD;
    	color: #FFFFFF;
	}
	.panel-body{
		padding: 0px;
	}
}