@import "icons/*.png";
@include all-icons-sprites;

.icons-key, .icons-copy{
	display: inline-block;
	width: 24px;
	height: 24px;
	vertical-align: middle;
}
.icons-computer{
	display: inline-block;
	width: 24px;
	height: 14px;
	vertical-align: middle;
}

.margin-top-0{
	margin-top: 0px;
}
.lacNumber{
	padding: 3px 5px;
	border: 1px solid $gray-light;
	border-radius: 5px;
	display: inline-block;
}
.lightGrayText{
	color: $gray-light;
}

.emc-panel{
	table{
		margin-bottom: 0px;
	}
	.panel-footer{
		padding: 5px 15px;
		a{
			margin-left: 10px;
		}
	}
	.table > thead > tr > th, .table > thead > tr > td, 
	.table > tbody > tr > th, .table > tbody > tr > td, 
	.table > tfoot > tr > th, .table > tfoot > tr > td{
		vertical-align: middle;
	}
}

.prodInfoIcon{
	padding: 0 3px;
	display: inline-block;
	&.icons-mail, &.icons-user{
		width: 24px;
		height: 24px;
		vertical-align: middle;
	}
	&.icons-info{
		width: 12px;
		height: 24px;
	}
}

.loading{
	padding-left: 40px;
	background: url("/images/ajax-loader.gif") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
	border: 0 none;
	height: 32px;
	line-height: 32px; 
}