$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
$navbar-inverse-bg: #2c95dd;
$brand-primary : #2c95dd;
$navbar-inverse-color : #fff;
$navbar-inverse-link-color : #fff;

$navbar-inverse-toggle-hover-bg:            transparent;
$navbar-inverse-toggle-icon-bar-bg:         #fff;
$navbar-inverse-toggle-border-color:        #fff;


$border-radius-base : 0px;
$border-radius-large : 0px;
$border-radius-small : 0px;

// bower:scss
@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.main {
  padding: 20px 15px;
}


.navbar-inverse
{  
    min-height:62px;
box-shadow: 0px 3px 6px #ccc;
-moz-box-shadow: 0px 3px 6px #ccc;
-webkit-box-shadow: 0px 3px 6px #ccc;
zoom: 1;
filter: progid:DXImageTransform.Microsoft.Shadow(color='#969696', Direction=135, Strength=3);
}

/*
 * Off cancas Style tweaks
 * --------------------------------------------------
 */
html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}
body {
  padding-top: 70px;
}
footer {
  padding: 30px 0;
}

/*
 * Off Canvas
 * --------------------------------------------------
 */
@media screen and (max-width: 767px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all .25s ease-out;
       -moz-transition: all .25s ease-out;
            transition: all .25s ease-out;
  }

  .row-offcanvas-right {
    right: 0;
  }

  .row-offcanvas-left {
    left: 0;
  }

  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -50%; /* 6 columns */
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -50%; /* 6 columns */
  }

  .row-offcanvas-right.active {
    right: 50%; /* 6 columns */
  }

  .row-offcanvas-left.active {
    left: 50%; /* 6 columns */
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 50%; /* 6 columns */
  }
}

.panel-footer
{
    overflow:auto;
}

/*** -p- section  start ***/

@import "icons/*.png";
@include all-icons-sprites;

.icons-key, .icons-copy{
  display: inline-block;
  width: 24px;
  height: 24px;
  vertical-align: middle;
}
.icons-computer{
  display: inline-block;
  width: 24px;
  height: 14px;
  vertical-align: middle;
}

.margin-top-0{
  margin-top: 0px;
}
.lacNumber{
  padding: 3px 5px;
  border: 1px solid $gray-light;
  border-radius: 5px;
  display: inline-block;
}
.lightGrayText{
  color: $gray-light;
}

.emc-panel{
  table{
    margin-bottom: 0px;
  }
  .panel-footer{
    padding: 5px 15px;
    a{
      margin-left: 10px;
    }
  }
  .table > thead > tr > th, .table > thead > tr > td, 
  .table > tbody > tr > th, .table > tbody > tr > td, 
  .table > tfoot > tr > th, .table > tfoot > tr > td{
    vertical-align: middle;
  }
}

.prodInfoIcon{
  padding: 0 3px;
  display: inline-block;
  &.icons-mail, &.icons-user{
    width: 24px;
    height: 24px;
    vertical-align: middle;
  }
  &.icons-info{
    width: 12px;
    height: 24px;
  }
}

.loading{
  background: url("/images/ajax-loader.gif") center center no-repeat;
  border: 0 none;
  height: 32px;
  line-height: 32px; 
}
/*** -p- section  end ***/

/*** -n- section  start ***/
.icons-database{
  display: inline-block;
  width: 24px;
  height: 24px;
  vertical-align: middle;
}

.get-licenses-panel{
  table thead{
    background: none repeat scroll 0 0 #2C95DD;
      color: #FFFFFF;
  }
  .panel-body{
    padding: 0px;
  }
}
/*** -n- section  end ***/

/*** -a- section  start ***/
.btn-input {
   display: block;
}
 
.btn-input .btn.form-control {
    text-align: left;
}
 
.btn-input .btn.form-control span:first-child {
   left: 10px;
   overflow: hidden;
   right: 25px;
}
 
.btn-input .btn.form-control .caret {
   margin-top: -1px;
   position: absolute;
   right: 10px;
   top: 50%;
}

.dropdown-menu
{
   width:100%;
}

.filter-list
{
   list-style: none;
   padding-left: 0px;
   height: 200px;
   overflow-y: auto;
   padding-top: 9px;
}

.selected-list
{
   list-style: none;
   padding-left: 0px;
   padding-top: 9px;
   height: 197px;
   overflow-y: auto;  
}

.glyphicon.glyphicon-remove
{
   cursor: pointer;
}
.no-padding
{
   padding:0px;
}
.selected-list li span,.filter-list li input
{
   margin-right: 9px; 
}
.selected-list li,.filter-list li
{
   padding: 5px; 
   cursor: default;
}

.selected-list li:hover, .filter-list li:hover
{
   background: #eee;
}

#toggle-steps
{
   margin-bottom: 2px;
   margin-left: 14px;
}

#toggle-steps button
{
   font-size: 17px;
   padding: 5px;
}

.disp-none
{
  display: none;
}
/*** -a- section  end ***/

